repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        entry: dotnet format --include
        language: system
        files: \.cs$
        pass_filenames: true

      - id: dotnet-build
        name: dotnet build
        entry: dotnet build --configuration Debug --verbosity quiet
        language: system
        files: \.(cs|csproj)$
        pass_filenames: false

      - id: dotnet-test
        name: dotnet test
        entry: dotnet test --configuration Debug --verbosity quiet --no-build
        language: system
        files: \.(cs|csproj)$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-case-conflict
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
